.tec-container{
  height: 100vh;
  width: 100vw;
  background-color: white;
}

@include media-breakpoint-up(md){
  .tec-container{
    display: grid;
    grid-template-columns: [first] 1fr [middle]  2fr [end];
    align-items: center;
  }

}

.img-store{
  grid-column-start: first;
}
